django
gunicorn
django-heroku
asgiref              
certifi               
charset-normalizer     
Django               
djangorestframework    
idna                  
mysql-connector-python
mysqlclient           
pip                   
protobuf              
pytz                  
requests              
sqlparse               
urllib3                
whitenoise  